/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #55679C;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

#menu-toggle {
    background: #ffffff;
    border: none;
    color: #55679C;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

aside {
    background-color: #55679C;
    width: 220px;
    height: 100vh;
    position: fixed;
    left: -240px; /* Menú escondido por defecto */
    top: 0;
    transition: left 0.3s ease;
    z-index: 1000;
}

aside nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

aside nav ul li {
    padding: 20px;
    text-align: center;
}

aside nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

aside nav ul li a:hover {
    background-color: #3d4d7c;
    display: block;
}

main {
    margin-left: 20px; /* Contenido principal sin margen cuando el menú está escondido */
    padding: 20px;
    transition: margin-left 0.3s ease;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

h2, h3 {
    color: #55679C;
}
